@use "../abstracts/variables" as *;

.btn {
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  font-family: $font-flamante, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: 0.15rem solid transparent;
  background-color: transparent;
  text-align: center;
  opacity: 0.9;
  width: fit-content;

  &:hover {
    opacity: 1;
  }
  &--primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &--secondary {
    border: 0.2rem solid $color-secondary;
    background-color: $color-secondary;
    color: $color-white;
  }

  &--white {
    border: 0.15rem solid $color-secondary;
    color: $color-secondary;
    background-color: $color-white;
  }

  &--black {
    background-color: $color-black;
    color: $color-white;
  }

  &:hover {
    box-shadow: none;
  }

  /*Submit button*/
  &--submit {
    padding: 0.8rem 5rem;
  }

  /*Submit back*/
  &--back {
    display: flex;
    align-items: center;
    color: $color-secondary;
    margin-top: 3rem;
    cursor: pointer;
  }

  /**
  * Upgrade
  */
  &--upgrade {
    display: flex;
    align-items: center;
    background-color: $color-primary;
    color: $color-white;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/**
  * Follow button
  */

.btn-follow {
  font-size: 1.25rem;
  font-weight: 100;
  background-color: $color-black;
  color: $color-light-grey;
  text-transform: capitalize;
  border-color: $color-black;
  &:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem rgba($color-black, $alpha: 0.15);
  }
}

/**
  * Share button
  */
.btn-share {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: $color-secondary;
  &:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem rgba($color-black, $alpha: 0.15);
  }

  &__text {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 500;
  }
  &__icon {
    font-size: 2rem !important;
    margin-left: 1rem;
  }
}
