@use "../abstracts/variables" as *;

.btn {
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  font-family: $font-flamante, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  text-align: center;
  opacity: 0.9;
  width: fit-content;

  &:hover {
    opacity: 1;
  }

  &--secondary {
    border: 0.2rem solid $color-secondary;
    background-color: $color-secondary;
    color: $color-white;
  }

  &--white {
    border: 0.15rem solid $color-secondary;
    color: $color-secondary;
    background-color: $color-white;
  }

  &:hover {
    box-shadow: none;
  }

  /*Submit button*/
  &--submit {
    padding: 0.8rem 5rem;
  }

  /*Submit back*/
  &--back {
    display: flex;
    align-items: center;
    color: $color-secondary;
    margin-top: 3rem;
    cursor: pointer;
  }

  /**
  * Upgrade
  */
  display: flex;
  align-items: center;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.5rem;
}

/* user profile  button */

.btn-Profile {
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  font-family: $font-flamante, sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #938c8c;
  background-color: transparent;
  display: flex;
  color: rgb(56, 56, 56);
  justify-content: center;
  align-items: center;
  width: 16rem;
  gap: 1rem;

  &:hover {
   color: black;
  }
}