@use "../abstracts/variables" as *;

.btn {
  padding: 0.5rem 5rem;
  font-size: $default-font-size;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background-color: transparent;

  &--secondary {
    background-color: $color-secondary;
    color: $color-white;
    text-align: center;
  }

  &:hover {
    box-shadow: none;
  }

  /*Submit button*/

  /*Submit back*/
  &--back {
    display: flex;
    align-items: center;
    color: $color-secondary;
    margin-top: 3rem;
    cursor: pointer;
  }
}
