@use "../abstracts/variables" as *;

.notification {
  &__item {
    &__image {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      object-fit: cover;
      object-position: center;
    }
    &__btn {
      cursor: pointer;
      background-color: white;
      font-size: 14px;
      padding: 1rem 2rem;
      transition: all ease-in-out 200ms;
      border-radius: 0.5rem;
      &:hover {
        background-color: #e0e0e0;
      }
      & > * {
        cursor: inherit;
      }
    }
  }
  &__modal {
    &__container {
      z-index: 100;
      position: fixed;
      overflow-y: scroll;
      height: 100vh;
      width: 100vw;
      inset: 0;
      background-color: transparent;
      backdrop-filter: blur(10px) brightness(0.8);
    }
    &__body {
      background-color: #e0e0e0;
    }
    &__header {
      background-color: white;
      text-align: center;
      padding: 2rem 1rem;
    }
  }
}
