@use "../abstracts" as *;
.nav {
  padding: 3rem 4rem;
  &__menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    margin-left: 1.5rem;
    @include respond(phone) {
      margin-bottom: 1rem;
    }
  }
  &__link {
    @include respond(phone) {
      display: block;
    }
  }
}

/**App Navigation */
.app-nav {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include respond-mobile {
    position: relative;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: $color-primary;
    box-shadow: 0 0 0.4rem rgba($color-black, 0.3);
  }

  &__icon {
    font-size: 2.5rem !important;
    display: none !important;
    @include respond-mobile {
      display: inline-block !important;
      color: $color-white;
    }
  }

  &__collapse {
    display: flex;
    align-items: center;
    @include respond-mobile {
      display: none;
    }
    /* Nav collapse is active*/
    &.active {
      background-color: $color-primary;
      display: inline-block;
      position: absolute;
      top: 5rem;
      left: 0;
      right: 0;
    }
    /* Search Widget*/
    &.active .search-widget {
      margin-left: 0rem;
      padding: 1rem 1.5rem;
    }
    &.active .search-widget .search-widget__input {
      border-radius: 0.5rem;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    align-items: center;
    @include respond-mobile {
      flex-direction: column;
    }
  }

  // &__item:not(:first-child) {
  //   margin: 2rem;
  // }

  &__item {
    @include respond-mobile {
      width: 100%;
    }
  }

  /* Nav Links*/
  &__link {
    &:link,
    &:visited {
      color: $color-black;
      text-transform: capitalize;
      font-size: $default-font-size;
      font-weight: 500;
      display: inline-block;
      padding: 1rem 1.5rem;
      transition: all 0.4s;
      @include respond-mobile {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: $color-white;
      }
    }
    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  & > * {
    margin: 0rem 1rem;
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.13rem solid $color-black;
    border-radius: 2rem;
    padding: 0.2rem 0.8rem;
    & span {
      font-size: 1.6rem;
    }
    @include respond-mobile {
      color: $color-white;
      border: 0.13rem solid $color-white;
    }
  }

  &__icon {
    font-size: 2.5rem !important;
    @include respond-mobile {
      color: $color-white;
    }
  }
}

.app-nav .search-widget {
  margin-left: 1.5rem;
}
