@use "../abstracts" as *;
.nav {
  padding: 3rem 4rem;
  &__menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    margin-left: 1.5rem;
    @include respond(phone) {
      margin-bottom: 1rem;
    }
  }
  &__link {
    @include respond(phone) {
      display: block;
    }
  }
}

/**App Navigation */
.app-nav {
  padding: 2rem 0rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__collapse {
    display: flex;
    align-items: center;
  }

  &__menu {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item:not(:first) {
    margin: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-black;
      text-transform: capitalize;
      font-size: $default-font-size;
      font-weight: 500;
      display: inline-block;
      padding: 1rem 1.5rem;
      transition: all 0.4s;
    }
    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  & > * {
    margin: 0rem 1rem;
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.16rem solid $color-black;
    border-radius: 2rem;
    padding: 0.1rem 1rem 0.1rem 0.1rem;
  }

  &__icon {
    font-size: 2.5rem !important;
  }
}

.app-nav .search-widget {
  margin-left: 1.5rem;
}
