@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/**
* Order tab
**/

.order-tab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;

  @include respond-mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  &__menu {
    @include respond-mobile {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    font-size: 1.3rem;
    font-weight: 500;
    color: $color-black;
    text-transform: capitalize;
    border-bottom: 0.15rem solid transparent;
    &:hover {
      border-bottom: 0.15rem solid $color-secondary;
    }
    &.active {
      border-bottom: 0.15rem solid $color-primary;
    }
  }

  &__item:not(:last-child) {
    margin-right: 5rem;
  }

  /**
  * Search field
  */
  .search-widget {
    @include respond-mobile {
      margin: 1rem 0rem;
      width: 100%;
    }
    &__input {
      background-color: $color-green;
      border-radius: 0.4rem;
      &::placeholder {
        color: rgba($color-white, 0.7);
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
    &__icon {
      color: $color-white;
    }
  }
}
