*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: inherit;
  outline: 0;
  text-decoration: none;
  cursor: default;
}

html {
  font-size: 62.5%; /* (10px/16px)X100% 62.5%*/
}

body {
  box-sizing: border-box;
  padding: 2rem;
}
