@font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
}

@font-face {
  font-family: "Flamante sans";
  src:
    local("Flamante sans")
      url("../../../fonts/flamante-sans/Flamante-Sans-Bold-FFP.ttf")
      format("truetype"),
    url("../../../fonts/flamante-sans/Flamante-Sans-Book-FFP.ttf")
      format("truetype"),
    url("../../../fonts/flamante-sans/Flamante-Sans-FFP.ttf") format("truetype");
}

@font-face {
  font-family: "MADE Okine Sans PERSONAL USE";
  src:
    local("MADE Okine Sans PERSONAL USE")
      url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Black.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-BlackOutline.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Black.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-BoldOutline.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Light.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-LightOutline.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Medium.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-MediumOutline.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Regular.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-RegularOutline.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Thin.otf")
      format("opentype"),
    url("../../../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-ThinOutline.otf")
      format("opentype");
}

@font-face {
  font-family: "Mustica Pro";
  src:
    local("Mustica Pro") url("../../../fonts/mustica-pro/MusticaPro-Black.otf")
      format("opentype"),
    url("../../../fonts/mustica-pro/MusticaPro-BlackItalic.otf")
      format("opentype"),
    url("../../../fonts/mustica-pro/MusticaPro-Bold.otf") format("opentype"),
    url("../../../fonts/mustica-pro/MusticaPro-BoldItalic.otf")
      format("opentype"),
    url("../../../fonts/mustica-pro/MusticaPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "Fax Sans";
  src: local("Fax Sans") url("../../../fonts/fax-sans/Fax_Sans_Beta.otf")
    format("opentype");
}

@font-face {
  font-family: "Source Sans 3";
  src:
    local("Source Sans 3")
      url("../../../fonts/Source_Sans_3/static/SourceSans3-Medium.ttf")
      format("truetype"),
    url("../../../fonts/Source_Sans_3/static/SourceSans3-SemiBold.ttf")
      format("truetype");
}
