@use "../abstracts/variables" as *;

body {
  font-family: $font-made-okine, Roboto;
  font-weight: 500;
  color: $color-primary;
  line-height: 1.7;
}

.heading-primary {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  font-style: normal;
  color: $color-primary;
  text-transform: none;
  margin-bottom: 5rem;
  &__newline {
    display: block;
    text-align: left;
  }
}

.heading-secondary {
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: capitalize;
  &__newline {
    display: block;
  }
}
