@use "../abstracts/variables" as *;
/*BACKGROUND COLORS*/

/*TEXT*/
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}

/*BACKGROUND COLORS*/

/*DISPLAYS*/
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items--center {
  align-items: center;
}

.justify-content--start {
  justify-content: flex-start;
}

.justify-content--center {
  justify-content: center;
}

/*MARGINS*/
.mb--2 {
  margin-bottom: 2rem;
}

.mt--2 {
  margin-top: 2rem;
}

.ms--4 {
  margin-left: 4rem;
}
