@use "../abstracts/variables" as *;
/*BACKGROUND COLORS*/

/*TEXT*/
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}

/*BACKGROUND COLORS*/

/*DISPLAYS*/
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items--center {
  align-items: center;
}

.align-items--between {
  align-items: space-between;
}

.justify-content--start {
  justify-content: flex-start;
}

.justify-content--center {
  justify-content: center;
}

.justify-content--between {
  justify-content: space-between;
}

/*MARGINS*/

//Auto margins

$auto-margin-sides: top, right, bottom, left;
$auto-margin-prefixes: t, s, b, e;

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@each $side, $prefix in $auto-margin-sides {
  .m#{$prefix}-auto {
    margin-#{$prefix}: auto;
  }
}

@for $i from 1 through 5 {
  // Top margins
  .mt-#{$i} {
    margin-left: #{$i}rem;
  }
  // Right margins
  .me-#{$i} {
    margin-left: #{$i}rem;
  }

  // Bottom margins
  .mb-#{$i} {
    margin-left: #{$i}rem;
  }

  // Left margins
  .ms-#{$i} {
    margin-left: #{$i}rem;
  }
}

/**
* HEIGHT  
*/

$values: 25, 50, 75, 100;
$unit: "%";

@each $value in $values {
  .h-#{$value} {
    height: #{$value}#{$unit};
  }
  .w-#{$value} {
    width: #{$value}#{$unit};
  }
}
