.notificationModal_container{
    z-index: 100;
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    inset: 0;
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(.8);
}
.notificationModal_body{
    background-color: #e0e0e0;
}
.notificationModal_header{
    background-color: white;
    text-align: center;
    padding: 2rem 1rem;
}
img.notification_item_image{
    width: 100%;
    height: 100%;
    border-radius:.5rem ;
    object-fit: cover;
    object-position: center;
}
.notification_item_btn{
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    padding: 1rem 2rem;
    transition: all ease-in-out 200ms;
    border-radius:.5rem ;
}
.notification_item_btn:hover{
    background-color: #e0e0e0;
}
.notification_item_btn > *{
    cursor: inherit;
}
