.btn {
  padding: 0.5rem 5rem;
  font-size: 2.4rem;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  background-color: transparent;
  box-shadow: var(--nn-light-shadow);
  transition: var(--nn-fast-transition);
}

.btn:hover {
  background-color: var(--nn-light-grey);
  box-shadow: none;
}

.btn.download {
  width: 70%;
  text-align: center;
}

.btn__submit {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  padding: 2rem 5rem;
}
