// COLORS
$color-primary: #303030;
$color-secondary: #707070;
$color-light: #f7f5f3;
$color-light-grey: #e9e8e5;
$color-isabelline: #f4f1ed;
$color-platinum: #e9e8e5;
$color-mercury: #ebebeb;
$color-tinge: #e6e6e6;

$color-white: #ffffff;
$color-black: #000;
$color-red: #e00;
$color-green: #09503d;
$color-green-1: #00673a;
$color-purple: #440888;

// FONT
$default-font-size: 1.6rem;
$font-flamante: "Flamante sans";
$font-made-okine: "MADE Okine Sans PERSONAL USE";
$font-mustica-pro: "Mustica Pro";

// GRID
$grid-width: 114rem;
