// COLORS
$color-primary: #303030;
$color-secondary: #707070;
$color-light: #f7f5f3;
$color-light-grey: #e9e8e5;
$color-isabelline: #f4f1ed;
$color-platinum: #e9e8e5;
$color-green: #11be02;

$color-white: #ffffff;
$color-black: #000;
$color-red: #e00;

// FONT
$default-font-size: 1.6rem;
$font-flamante: "Flamante sans";
$font-made-okine: "MADE Okine Sans PERSONAL USE";

// GRID
$grid-width: 114rem;
