@use "../abstracts/variables" as *;

.finance-report {
  border: 0.13rem solid rgba($color-secondary, 43%);
  border-radius: 0.3rem;
  color: $color-black;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.4rem 1.5rem;
  float: right;
  clear: right;
}

/**
* Finance styles
*/
.finance {
  color: $color-black;
  font-weight: 600;
  border-radius: 0.8rem;

  padding: 1.2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 0.4rem rgba($color-black, 0.19);

  &:hover {
    box-shadow: 0 0 0.5rem rgba($color-black, 0.2);
  }

  &__title {
    font-size: 1.4375rem;
  }

  &__figure {
    font-size: 3.875rem;
  }

  &__button {
    &:link,
    &:visited {
      font-size: 2rem;
      color: $color-black;

      border: 0.13rem solid $color-secondary;
      border-radius: 0.4rem;
      padding: 0.5rem 1rem;
      text-transform: capitalize;
    }
    &:hover,
    &:active {
      transition: 0.2s;
      transform: scale(1.1);
    }
  }
  & p {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

/**
* Style for fees
*/
.fees {
  background-color: $color-green-2;
  color: $color-white;
  border-radius: 0.5rem;
  font-weight: 600;
  //   font-family: $font-mustica-pro;
  padding: 0.8rem 1.2rem;
  margin: 1rem 0.2rem;

  &__title {
    font-size: 1.45rem;
  }

  &__percentage {
    font-size: 4rem;
  }

  &__amount {
    font-size: 2rem;
  }

  &__currency {
    margin-left: 0.3rem;
  }

  &__text {
    font-size: $default-font-size;
  }
}

/**
* Account overview
*/

.account-overview {
  box-shadow: 0 0 0.3rem rgba($color-black, 0.18);
  padding: 1rem;
  border-radius: 1rem;

  & h2 {
    font-size: 1.6;
    font-weight: 500;
  }

  & p {
    font-family: $font-fax-sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
