@use "../abstracts/variables" as *;

[class^="home"] {
  width: 100%;
  margin-bottom: 4rem;
}

.home-header {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
