@use "../abstracts/variables" as *;

.section-quality,
.section-items,
.section-orders,
.section-us {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $color-isabelline;
}

.section-items {
  background-color: $color-white;
}

.section-us {
  background-color: $color-platinum;
}

p.or {
  color: $color-secondary;
  font-size: 1.6rem;
  font-weight: 700;
}

.section-icon {
  color: $color-secondary;
  font-size: 4rem !important;
  margin-top: 3rem;
}
.section-img {
  width: 100%;
  height: auto;
}
