@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-profile {
  width: 100%;
  @include respond-mobile {
    padding: 2rem;
  }
}

.profile {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond-mobile {
    max-width: 100%;
  }

  & figure {
    margin-bottom: 3rem;
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
    border-radius: 12rem;
  }
  &__details {
    position: relative;
    margin: 0 auto;
    & span {
      display: block;
    }
  }
  &__name {
    color: $color-primary;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  &__shops {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    cursor: pointer;
    &:hover {
      color: $color-secondary;
    }
  }

  &__links {
    display: flex;
  }

  &__button {
    display: flex;
    align-items: center;
    &:link,
    &:visited {
      text-transform: capitalize;
      color: $color-primary;
      opacity: 1;
      & span {
        margin-left: 1.5rem;
        font-size: 1rem;
        font-weight: 700;
      }
      &:hover,
      &:active {
        color: $color-white;
        background-color: $color-primary;
      }
    }
  }

  &__icon {
    font-size: 2.2rem !important;
    color: $color-secondary;
  }
}

.section-header {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  &__item {
    color: #111;
    font-weight: 400;
    font-family: $font-source-sans, "san-serif";
    font-size: 1.5rem;
    text-transform: capitalize;
    border-bottom: 0.2rem solid transparent;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    &:hover {
      border-color: $color-primary;
    }
    &.active {
      border-color: #111;
    }
  }
}

.product-items {
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  display: inline-block;
  text-align: center;
}

/*
* Followed stores
*/

.follow-shop {
  position: absolute;
  width: 34.5rem;
  max-height: 30rem;
  border-radius: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $color-white;
  box-shadow: 0rem 0rem 3.5rem 0.8rem rgba(0, 0, 0, 0.25);
  display: none;
  padding: 2rem;

  &.active {
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }

  &__header {
    margin: 0 auto;
    gap: 1;
    margin-bottom: 2rem;
    &-main {
      color: $color-black;
      text-align: center;
      font-size: 2.2rem;
      font-weight: 500;
    }
    &-sub {
      color: $color-black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    overflow-y: auto;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  &__img {
    width: 5rem;
    height: 5rem;
    resize: both;
    object-fit: cover;
    object-position: center;
    border-radius: 5rem;
  }
  &__name {
    color: $color-black;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: capitalize;
  }

  & .btn-follow {
    margin-left: auto;
  }
}

@media screen and (max-width: 800px) {
  .follow-shop {
    width: 90vw;
  }
}
