@use "../abstracts/variables" as *;

.item {
  width: 100%;
  max-height: 70vh;
  box-shadow: 0 0 0.3rem rgba($color-black, 0.2);
  border-radius: 2rem;
  &__img {
    max-height: 100%;
  }
}

.store-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
