@use "../abstracts/variables" as *;

.setting-background-image {
  position: relative;
  background-attachment: scroll;
  background-position: center;
  object-fit: contain;
  resize: both;
  width: 100%;
  height: 12rem;
}

.setting-store-logo {
  position: absolute;
  left: 50%;
  width: 8rem;
  height: 8rem;
  border-radius: 10rem;
  object-fit: contain;
  object-position: center;
  resize: both;
}

[class^="section-setting"] {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-setting {
  &-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/**
* Settings buttons
*/
.setting-button {
  padding: 0.4rem 2.3rem;
  cursor: pointer;
  &:link,
  &:visited {
    border: 0.13rem solid $color-secondary;
    color: $color-black;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
  &:hover,
  &:active {
    background-color: $color-primary;
    color: $color-white;
    transition: ease 0.4s;
  }
}
