@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.shop-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__tune {
    font-size: 3.5rem !important;
    margin-right: 1.5rem;
    @include respond-mobile {
      margin-right: 1.5rem;
    }
  }

  &__container {
    display: flex;
    // justify-content: space-evenly;
    margin-left: auto;
    white-space: nowrap;
    overflow-x: scroll; /* for Chrome, Safari, and Opera */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }

  &__item {
    display: inline-block;
    background-color: $color-ancestral-water;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 1rem 1.5rem;
    margin: 0 1rem;
    border-radius: 2rem;
    text-transform: capitalize;
    &.active {
      background-color: $color-twining-vine;
      color: $color-white;
    }
    @include respond-mobile {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  &__btn {
    margin: 0rem 1rem !important;
    &.hidden {
      display: none !important;
    }
    @include respond-mobile {
      display: none !important;
    }
  }
  &__icon {
    font-size: 2rem !important;
  }
}
.shop-products {
  &__items {
    margin-top: 2rem;
    display: inline-block;
    text-align: center;
  }
}

/**
* Sorted items modal
*/
.modal.sortedItems {
  .modal__content {
    background-color: $color-white;
  }
}
.sortedItems {
  &__group {
    margin-bottom: 1.5rem;
  }
  &__field {
    margin-left: 2rem;
    &.colors {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
  &__label {
    margin-bottom: 0.8rem;
    text-transform: capitalize;
  }
  &__label,
  & span {
    color: $color-black;
    font-weight: 700;
    font-size: 1.15rem;
  }
  & span {
    text-transform: uppercase;
  }

  /*
  * For colors
  */

  &__colors-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__color {
    border-radius: 0;
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
    &:not(:first-child) {
      margin-left: 1rem;
    }
    &:checked {
      accent-color: $color-white;
    }
  }

  &__color-name {
    text-transform: lowercase !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
    text-align: center !important;
  }

  &__btns {
    justify-content: flex-end !important;
    @include respond-mobile {
      justify-content: center !important;
    }
  }
}
