@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.signup {
	&__container {
		display: flex;
		@include respond-mobile {
			flex-direction: column-reverse;
		}
	}
	&__space {
		width: 10%;
		/*
    * Laptops
     */
		@include respond(labtop) {
			display: none;
		}
	}
	&__form {
		width: 40%;
		margin-top: 10rem;
		margin-right: 4rem;
		@include respond-mobile {
			width: 100%;
			padding: 0 4rem;
			margin-top: 0rem;
			margin-right: 0rem;
		}
	}
	&__image-container {
		width: 50%;
		@include respond-mobile {
			width: 100%;
		}
	}
}

/*
* Sign up form
*/
.signup-form {
	&__row {
		display: flex;
		justify-content: space-between;
		gap: 6rem;
		& > * {
			width: 100%;
			@include respond(small-phone) {
				&:last-child {
					margin-bottom: 4rem;
				}
			}
		}
		@include respond(small-phone) {
			flex-direction: column;
			gap: 0rem;
		}
	}
}

/*
* Sign up image
*/
.signup__img {
	height: 100vh;
	width: 100%;
	resize: both;
	object-fit: cover;
	object-position: bottom;

	// @include respond(small-phone) {
	// 	display: none;
	// }
	@include respond-mobile {
		height: 50vh;
    margin-left: .5rem;
	}
}
