.bagItem_container > * {
    border-bottom: 1px solid #70707050
}
.bagItem_container:first-child{
    border-top: 1px solid #70707050;
}
.discount_price{
    font-weight: 600;
    color: var(--toastify-color-success)
}
.old_price{
    text-decoration: line-through;
    opacity: .5;

}
.addRemove_button{
    padding: .5rem;
    display: flex;
    border-radius: 100%;
    border: 2px solid #707070;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 200ms;   
}
.addRemove_button:hover{
    background-color: #707070;
    color: #f7f5f3;
}
input.item_input::-webkit-outer-spin-button,
input.item_input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input.item_input[type=number]{
    -moz-appearance: textfield;
}
.item_input{
    width: 4rem;
    text-align: center;
    cursor: text;
    appearance: none;
    padding: .5rem;
    border: none;
    border-bottom: 2px solid #707070;
    outline: none;
}
.item_size{
    font-weight: 600;
}
.delete_icon{
    color: var(--toastify-color-error);
    cursor: pointer;
    transition: all ease-in-out 200ms;
}
.delete_icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: inherit/50
}
.item_image{
    height: 100%;
    width: 100%;
    padding:.5rem;
    border-radius: 1rem;
    object-fit: cover;
}
.promo_btn{
    padding: 1rem;
    border: 1px solid #70707050;
    color: var(--toastify-color-success);
    font-weight: 600;
    flex-grow: 1;
    border-radius: .5rem;
    text-transform: capitalize;
}
.apply_btn{
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: .5rem;
    background-color: var(--toastify-color-success);
}
.item_total{
    font-weight: 600;
    padding: 1rem;
}
