.table_wrapper{
    display: inline-table;
    width: 100%;
  }
  table{
    width: 100%;
    border: #00000045;
    border-spacing: 0;
    font-size: 12px;
    box-shadow: 0px 10px 10px 0px #00000020;
    border-radius: 1rem;
  
  }
  tr:first-child{
    padding-top: 1rem;
  }
  tr:last-child{
    border-bottom: none;
  }
  tr{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00000020;
  }
  td{
    flex-grow: 1;
    padding: 8px 16px;
  }
  a .active{
    text-decoration: underline;
    color: inherit;
  }
  /* td{
    padding: 4px ;
    height: fit-content;
    border-bottom: 1px solid #00000045;
    border-right: 1px solid #00000045;
  } */
  td:last-child{
    text-align: right;
  }
  .orders_tabMenu > * {
    margin: 1rem 0;
  }
  .orders_tabMenu_header {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }
  .orders_tabMenu_body {
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    /* display: flex; */
    
  }
  .orders_container > section {
    margin: 2rem, 0;
  }
  .sort_menu {
    position: relative;
    width: 100%;
  }
  .sort_header {
    width: inherit;
    padding: 0.5rem 1rem;
    display: flex;
    justify-items: center;
    gap: 1rem;
  }
  .short_header > div:not(.sort_header) {
    display: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: -1rem;
    padding: 0.5rem;
  }
  .orderItem {
    margin: 1rem 0;
    position: relative;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 1px 20px 0px #00000045;
  }
  .orderItem_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .orderTtem_image {
    height: auto;
    width: auto;
    object-fit: cover;
  }
  .orderItem_info_link {
    text-decoration: underline;
    font-weight: 300;
    color: var(--color-dark-grey);
    font-size: 14px;
  }
  .orderItem_info_link::before {
    content: "@";
  }
  .orderItem_info_fetchBtn {
    padding: .5rem 1rem;
    font-size: 14px;
    border-radius: 4px;
    color: green;
    border: 1px var(--color-light-black) solid;
    cursor: pointer;
  }
  .orderItem_tag {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
  }
  
  .font_semibold {
    font-weight: 600;
  }
  .text_sm {
    font-size: 12px;
  }
  
  a {
    cursor: pointer;
  }
  
  .sr_only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .orders_tabMenu_items{
    font-size: 12px;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
  }
  .searchInput{
    padding: 1rem;
    flex-grow: 1;
    color: var(--toastify-color-dark);
    background-color: var(--toastify-color-success);
    border-radius: .25rem;
    cursor: text;
    font-size: 14px;
    padding-left: 4rem;
    outline: none;
    /* transition: all ease-in 1s; */
  }
  .searchInput:focus{
    outline: 1px solid var(--toastify-color-success);
    outline-offset: 2px;
  }
  .searchInput_container{
    position: relative;
    height: 100%;
  }
  .searchIcon{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 25%;
  }
  .searchInput::placeholder{
    color: var(--toastify-color-dark);
    font-size: 14px;
    opacity: .4;
    text-transform: italic;
  }
  a.tab_link{
    font-size: 14px;
    color:var(--toastify-color-dark);
    transition:all ease-in-out 200ms;
  }
  a.active{
    font-weight: 600;
  }
  