/* Global css styles */
:root {
  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-lato: "Lato", sans-serif;

  /* colors  */
  --color-primary: #303030;
  --color-secondary: #707070;
  --color-light: #f7f5f3;
  --color-light-grey: #E9E8E5;


  --color-white: #ffffff;
  --color-black: #000;
  --color-red: #e00;

  --transition-fast: all 1s ease;
  --transition-medium: all 0.25s ease;
  --transition-slow: all 0.5s ease;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: inherit;
  outline: 0;
  text-decoration: none;
  cursor: default;
}

html {
  font-size: 62.5%; /* (10px/16px)X100% 62.5%*/
}

body{
  box-sizing: border-box;
  font-family: var(--font-roboto);
  line-height: 1.6;
  font-weight: 300;
}

h1{
  font-weight: 700;
  font-size: 5.5rem;
  color: var(--color-primary);
}